SUBSYSTEM=="net", KERNEL=="can0", NAME="can0", RUN+="/sbin/ip link set can0 up type can bitrate 500000"
SUBSYSTEM=="net", KERNEL=="can1", NAME="can1", RUN+="/sbin/ip link set can1 up type can bitrate 500000"